:root{
--primary-color: rgba(255,0,0,0.5);
--border-width: 8px;
}

body {
    font-size: 10px;
}

.box{
    background-color: var(--primary-color);

    /* background-color: rgba(255,0,0,0.5); */
/* border-width: 8px;
border-color: rgb(0,0,255);
border-style: solid; */
border: 8px solid rgb(0,0,255);
width: 320px;
height: 320px;
}   