html,
body {
  border: 0;
  background: none;
  margin: 0;
  padding: 0;
}

body {
  max-width: 1000px;
  margin: 0 auto;
}

* {
  padding: 20px;
  margin: 20px 0;
  background: rgba(0, 0, 255, 0.1);
  border: 1px solid rgba(0, 0, 255, 0.6);
  font-weight: bold;
  font-size: 1rem;
  font-family: sans-serif;
}


/* tutaj nasze style */

div.module > h2 {
  background-color: rgba(255,255,0, .5)
}

div.module > div {
  background-color: rgba(255,255,0, .5)
}

div.module > div h2 {
  background-color: rgba(255,255,0, .5);
}

div.module > h2 + p {
  background-color: rgba(255,255,0,0.5 );
}

div.module > h2 ~ p:nth-of-type(3){
  background-color: rgba(255,255,0, .5);
}

.module > h2 ~ p {
  background-color: rgba(255,255,0, .5);
}

.module > div:first-of-type h2{
  background-color: rgba(255,10,255, .5);
}

.module > div:last-of-type h2 + p {
  background-color: rgba(255, 10,255, .5);
}

